
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.header-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    background-color: hsl(250, 100%, 98%);
    height: 200px;
    border-radius: 0 0 20px 20px;
}


body.dark .header-background  {
    background-color: hsl(230, 17%, 14%);

}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

body.dark {
    background-color: hsl(230, 17%, 14%);
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 90%;
}


header h1 {
    font-size: 26px;
    margin-bottom: 5px;
}

body.dark h1 {
    color: white;
}


header p {
    color: hsl(228, 12%, 44%);
}

body.dark p {
    color: hsl(228, 34%, 66%);
}


.cabecalho {
    padding-bottom: 20px;
}


.button-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 2px solid;
    border-color:  hsl(228, 12%, 44%);
    vertical-align: middle;
    padding: 20px 0;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    text-align: center;
   
  
}

.rede-social-card {
    display: flex;
    flex-direction: column;
    height: 97%;
    background-color:hsl(227, 47%, 96%);
    justify-content: space-around;
    border-radius: 3px;
}

body.dark .rede-social-card{
    background-color: hsl(228, 28%, 20%);

}

.rede-social-fundo { 
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
}

body li:first-child a span{
    color: hsl(228, 34%, 66%);
}

body li:nth-child(2) strong{
    font-size: 40px;
    color: black;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;  
}
body.dark li:nth-child(2) strong{
    color: white;    
}

body li:nth-child(2) {
    letter-spacing: 5px;
    color: hsl(228, 12%, 44%);
}

body li:nth-child(3) {
    font-weight: 700;
    color: hsl(163, 72%, 41%);

}
  
body a {
    text-decoration: none;
}

#instagram {
    background: linear-gradient(to left, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    margin-top: -60px;
}

#twitter {
    background:  hsl(203, 89%, 53%)
}

#linkedin {
    background:#0072b1;
}

#github {
    background: #6f42c1;
}

.rede-social-fundo a {
   display: flex;
   vertical-align: middle;
   justify-content: center;
}
.rede-social-fundo a span {
    padding-left: 5px;
 }


footer {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    display: flex; 
    justify-content: center;
    color: hsl(228, 34%, 66%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Toggle Switch button */




@media screen and (min-width: 700px) {

    body {
        max-width: 940px;
        margin: auto ;
       
    }
    
    .rede-social-fundo {
        width: 48%;
        margin: 0;
        padding: 0;
       
    }

    #instagram {
        margin: 0;
    }

    .redes-sociais {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -60px;
        justify-content: space-between;

        height: 500px;
    }

    .rede-social-card {
        width: 100%;
        margin-bottom: 0px;
        display: flex;
    }  

}

