
header .container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    margin-top: 20px;
}

.visual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}


body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 94%;
    margin: 0 auto;
}

.social-medias {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.informacao-medias li {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: blueviolet;
    margin-top: 5%;
    justify-content: space-around;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
